USE [master]
GO
/****** Object:  Database [pygame井字棋]    Script Date: 2023/05/04 15:22:27 ******/
CREATE DATABASE [pygame井字棋]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pygame井字棋', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\pygame井字棋.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'pygame井字棋_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\pygame井字棋_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pygame井字棋].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pygame井字棋]
GO
/****** Object:  Table [dbo].[管理员]    Script Date: 2023/05/04 15:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[管理员](
	[管理员id] [varchar](50) NOT NULL,
	[管理员密码] [varchar](50) NULL,
 CONSTRAINT [PK_管理员] PRIMARY KEY CLUSTERED 
(
	[管理员id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[玩家]    Script Date: 2023/05/04 15:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[玩家](
	[玩家id] [varchar](50) NOT NULL,
	[玩家昵称] [varchar](10) NULL,
	[玩家排名] [int] NULL,
	[玩家得分] [bigint] NULL,
	[用户密码] [varchar](50) NULL,
 CONSTRAINT [PK_玩家] PRIMARY KEY CLUSTERED 
(
	[玩家id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[游戏程序]    Script Date: 2023/05/04 15:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[游戏程序](
	[游戏编号] [varchar](50) NOT NULL,
	[玩家id] [varchar](50) NOT NULL,
	[管理员id] [varchar](50) NOT NULL,
	[游戏胜负] [text] NOT NULL,
 CONSTRAINT [PK_游戏程序] PRIMARY KEY CLUSTERED 
(
	[游戏编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
